version: '3.8'
services:
  app:
    build:
      context: .
      target: run
    ports:
      - "3000:3000"

  test:
    build:
      context: .
      target: test
    volumes:
      - ./coverage:/app/coverage